<div class="container-fluid">
  <br/>
  <h3>Beautiful Buttons</h3>
  <button class="btn btn-lg btn-primary">primary</button>
  <button class="btn btn-lg btn-info">info</button>
  <button class="btn btn-lg btn-danger">danger</button>
  <button class="btn btn-lg btn-default">default</button>
  <button class="btn btn-lg btn-warning">warning</button>
  <br/>
  <h3>Button Dropdowns</h3>
  <div class="btn-group">
    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12">
      <div class="widget">
        <div class="widget-header">
          <i class="widget-icon fa fa-check"></i>
          <span class="widget-caption">Default Widget</span>
          <div class="widget-buttons">
            <a href="#" data-toggle="config">
              <i class="fa fa-cog"></i>
            </a>
            <a href="#" data-toggle="maximize">
              <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </a>
            <a href="#" data-toggle="dispose">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <!--Widget Buttons-->
        </div>
        <!--Widget Header-->
        <div class="widget-body">
          <p>
            Without any change in default mark-up.
          </p>
        </div><!--Widget Body-->
      </div><!--Widget-->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12">
      <div class="widget">
        <div class="widget-header">
          <i class="widget-icon fa fa-check"></i>
          <span class="widget-caption">typicons</span>
          <div class="widget-buttons">
            <a href="#" data-toggle="config">
              <i class="fa fa-cog"></i>
            </a>
            <a href="#" data-toggle="maximize">
              <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
              <i class="fa fa-minus"></i>
            </a>
            <a href="#" data-toggle="dispose">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <!--Widget Buttons-->
        </div>
        <!--Widget Header-->
        <div class="widget-body">
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-move-outline"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-move-outline"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-move-outline"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-move-outline"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
          <span class="typcn typcn-arrow-left"></span>
          <span class="typcn typcn-adjust-brightness"></span>
        </div><!--Widget Body-->
      </div><!--Widget-->
    </div>
    <div class="col-lg-3 col-md-3 col-xs-12">

    </div>
  </div>
</div>

